.help {
    padding-top: 30px;
 
}

.help a {
    font-size: 16px;

}

.footer-icon div {
    padding: 0 10px;
}

.footer-item span {
    padding: 0 25px;
    font-size: 30px;
}

.link {
    padding-top: 30px;
}

.link a {
    padding: 0 9px;
}

.police {
    padding-top: 10px;
}

